@{
    ViewBag.Title = "Aviso";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="alert alert-info text-center">
        <h4>O seu registo como doutor foi submetido com sucesso!</h4>
        <p>Agradecemos o seu interesse na CareHub.</p>
    </div>
</div>