@{
    ViewBag.Title = "Aviso";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="alert alert-info text-center">
        <h4>@ViewBag.MensagemTitulo</h4>
        <p>@ViewBag.MensagemCorpo</p>
    </div>
</div>