@{
    ViewData["Title"] = "Home Page";
}

<div class="main-image">
    <img src="~/imgs/main.jpeg" alt="Logo" />
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        <!-- Card 1 -->
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Consultas Online</h5>
                    <p class="card-text">Requisitar uma consulta online com um dos nossos especialistas.</p>
                </div>
                <img src="~/imgs/MINI1.png" class="card-img-bottom"  alt="Consulta Online">

            </div>
        </div>

        <!-- Card 2 -->
        <div class="col">
            <div class="card h-100 text-center">
                <img src="~/imgs/MINI3.png" class="card-img-top" alt="In-Clinic Appointments">
                <div class="card-body">
                    <h5 class="card-title">Consulta Presencial</h5>
                    <p class="card-text">Agendar uma consulta numa das nossas clínicas com um dos nossos profissionais.</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col">
            <div class="card h-100 text-center">
                
                <div class="card-body">
                    <h5 class="card-title">Análises Clínicas</h5>
                    <p class="card-text">Requisitar um pedido para efetuar a sua análise clínica connosco.</p>
                </div>
                <img src="~/imgs/MINI5.png" class="card-img-bottom" alt="Lab Tests">
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col">
            <div class="card h-100 text-center">
                <img src="~/imgs/MINI4.png" class="card-img-top" alt="Procedures">
                <div class="card-body">
                    <h5 class="card-title">Tratamentos e Procedimentos</h5>
                    <p class="card-text">Conheça que procedimentos nós temos para oferecer.</p>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col">
            <div class="card h-100 text-center">
            
                <div class="card-body">
                    <h5 class="card-title">Fármacos</h5>
                    <p class="card-text">Conhecimento abrangente sobre diversos medicamentos.</p>
                </div>
                <img src="~/imgs/MINI1.png" class="card-img-top" alt="Medicines">
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h3 class="fw-bold text-center mb-4">Consult best doctors online <a href="#" class="float-end text-primary fw-bold">View All</a></h3>
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 text-center">
    </div>
    </div>

</div>
