@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir palavra-passe";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>
<h2 class="h5 text-center mb-3">Redefina a sua palavra-passe.</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
        <div class="card shadow p-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                
                <input asp-for="Input.Code" type="hidden" />

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, insira a sua palavra-passe." />
                    <label asp-for="Input.Password">Nova palavra-passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, confirme a sua palavra-passe." />
                    <label asp-for="Input.ConfirmPassword">Confirmar palavra-passe</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Redefinir</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
