@page
@model EmailModel
@{
    ViewData["Title"] = "Gerir Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage"/>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow p-4">
            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Por favor insira o seu email." disabled />
                        <label asp-for="Email">Email atual</label>
                        <span class="input-group-text text-success fw-bold">✓</span>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Por favor insira o seu email." disabled />
                        <label asp-for="Email">Email atual</label>
                    </div>
                    <div class="mb-3">
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link p-0">
                            Enviar email de verificação
                        </button>
                    </div>
                }

                <div class="form-floating mb-4">
                    <input asp-for="Input.NewEmail" type="email" class="form-control" autocomplete="email" aria-required="true" placeholder="Por favor insira o novo email." />
                    <label asp-for="Input.NewEmail">Novo email</label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>

                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">
                    Alterar email
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
