@using Microsoft.AspNetCore.Server.Kestrel.Core
@using Microsoft.EntityFrameworkCore.Query.SqlExpressions
@model List<CareHub.Controllers.Diagnosticos.InfoDiagnostico>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="mb-4">Categorias de Doenças</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        @foreach (var procedure in Model)
        {
            
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@procedure.Categoria</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
