@using Microsoft.AspNetCore.Server.Kestrel.Core
@using Microsoft.EntityFrameworkCore.Query.SqlExpressions
@model List<CareHub.Controllers.Diagnosticos.InfoDiagnostico>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var categorias = Model.GroupBy(p => p.Categoria).ToList();

}



<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    @foreach (var grupo in categorias)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-decoration-none" data-bs-toggle="collapse"  role="button" aria-expanded="false" >
                            @grupo.Key
                        </a>
                    </h5>
                    <ul class="list-group list-group-flush">
                        @foreach (var proc in grupo)
                        {
                            <h5 class="list-group-item">@proc.Nome</h5>
                        }
                    </ul>
                </div>
            </div>
        </div>
        
    }   
</div>
