@using CareHub.Controllers
@using Microsoft.AspNetCore.Server.Kestrel.Core
@using Microsoft.EntityFrameworkCore.Query.SqlExpressions
@model List<CareHub.Controllers.Diagnosticos.InfoDiagnostico>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
  var grupos = Model
        .GroupBy(d => d.Categoria)
        .OrderBy(g => g.Key);

}

@{
  }

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    @foreach (var grupo in grupos)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#cat-@grupo.Key.GetHashCode()" role="button" aria-expanded="false">
                            @grupo.Key
                        </a>
                    </h5>
                    <div class="container" >
                        <ul>
                            @foreach (var proc in grupo)
                            {
                                <li>@proc.Nome</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            </div>
                }
</div>
